## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
columns_to_drop = ['EIN', 'NAME']
application_df = application_df.drop(columns_to_drop, axis=1)

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()

print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = application_df['CLASSIFICATION'].value_counts()
filtered_counts = class_counts[class_counts > 1]

print(filtered_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C2700', 'C7000', 'C7200',
       'C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C1238',
       'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300',
       'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900',
       'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df, columns=['CLASSIFICATION', 'APPLICATION_TYPE'])
data_df = pd.concat([application_df, dummies_df], axis=1)

data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,CLASSIFICATION_Other,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,0,0,1,0,0,0,0,0,0,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,0,0,0,0,1,0,0,0,0,0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,1,0,0,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,...,0,0,0,0,1,0,0,0,0,0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,...,0,0,0,0,1,0,0,0,0,0

In [11]:
# Drop columns with strings
columns_to_drop = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

data_df = data_df.drop(columns_to_drop, axis=1)

In [12]:
data_df.dtypes

STATUS                    int64
ASK_AMT                   int64
IS_SUCCESSFUL             int64
STATUS                    int64
ASK_AMT                   int64
IS_SUCCESSFUL             int64
CLASSIFICATION_C1000      uint8
CLASSIFICATION_C1200      uint8
CLASSIFICATION_C2000      uint8
CLASSIFICATION_C2100      uint8
CLASSIFICATION_C3000      uint8
CLASSIFICATION_Other      uint8
APPLICATION_TYPE_Other    uint8
APPLICATION_TYPE_T10      uint8
APPLICATION_TYPE_T19      uint8
APPLICATION_TYPE_T3       uint8
APPLICATION_TYPE_T4       uint8
APPLICATION_TYPE_T5       uint8
APPLICATION_TYPE_T6       uint8
APPLICATION_TYPE_T7       uint8
APPLICATION_TYPE_T8       uint8
dtype: object

In [18]:
len(data_df.columns)

21

In [13]:
# Split our preprocessed data into our features and target arrays
y = data_df.IS_SUCCESSFUL.values
X = data_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [30]:
# Determine the number of input features
input_features = 19

# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=8, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 160

 dense_10 (Dense)            (None, 5)                 45

 dense_11 (Dense)            (None, 1)                 6

=================================================================
Total params: 211 (844.00 Byte)
Trainable params: 211 (844.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
# If your labels are one-hot encoded, you might convert them to a 1D array
y_train = y_train[:, 0]  # Keep only one column if y_train is a NumPy array

# Compile the model with appropriate loss and metrics
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Ensure your target labels are in the correct format and align with the model output shape.
# Then retrain your model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6818 - accuracy: 0.5779
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6537 - accuracy: 0.6086
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6493 - accuracy: 0.6126
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6474 - accuracy: 0.6133
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6460 - accuracy: 0.6128
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6442 - accuracy: 0.6122
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6438 - accuracy: 0.6122
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6440 - accuracy: 0.6137
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6438 - accuracy: 0.6132
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6435 - accuracy: 0.6134
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6439 - accuracy: 0.6120
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6437 - accuracy: 0.6115
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6435 - accuracy: 0.6141
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6435 - accuracy: 0.6132
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6434 - accuracy: 0.6143
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6435 - accuracy: 0.6144
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6434 - accuracy: 0.6144
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6433 - accuracy: 0.6169
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6434 - accuracy: 0.6133
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6432 - accuracy: 0.6167
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6434 - accuracy: 0.6135
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6432 - accuracy: 0.6148
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6434 - accuracy: 0.6141
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6432 - accuracy: 0.6147
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6432 - accuracy: 0.6138
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6430 - accuracy: 0.6137
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6432 - accuracy: 0.6144
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6432 - accuracy: 0.6141
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6429 - accuracy: 0.6148
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6429 - accuracy: 0.6136
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6431 - accuracy: 0.6139
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6429 - accuracy: 0.6155
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6432 - accuracy: 0.6159
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6430 - accuracy: 0.6141
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6429 - accuracy: 0.6155
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6432 - accuracy: 0.6145
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6430 - accuracy: 0.6158
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6431 - accuracy: 0.6148
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6430 - accuracy: 0.6155
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6429 - accuracy: 0.6148
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6430 - accuracy: 0.6141
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6427 - accuracy: 0.6151
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6430 - accuracy: 0.6153
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6428 - accuracy: 0.6169
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6429 - accuracy: 0.6155
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6431 - accuracy: 0.6150
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6428 - accuracy: 0.6157
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6430 - accuracy: 0.6159
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6428 - accuracy: 0.6157
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6427 - accuracy: 0.6155

In [35]:
# If your test labels are one-hot encoded, you might convert them to a 1D array
y_test = y_test[:, 0]  # Keep only one column if y_test is a NumPy array

# Reevaluate the model using the adjusted test data and labels
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6437 - accuracy: 0.6110 - 596ms/epoch - 2ms/step
Loss: 0.6436880826950073, Accuracy: 0.6109620928764343

In [36]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

C:\Users\grant\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

### Model Optimization

Optimization techniques
1) Changed hidden layer nodes to 32
2) Changed activation to ELU
3) changed epochs to 100

In [39]:
# Adjusting model architecture and training parameters
nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=16, input_dim=19, activation='relu'))
nn.add(tf.keras.layers.Dense(units=32, activation='ELU'))
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model with different parameters
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6504 - accuracy: 0.6097
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6456 - accuracy: 0.6136
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6448 - accuracy: 0.6108
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6446 - accuracy: 0.6144
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6444 - accuracy: 0.6145
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6447 - accuracy: 0.6152
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6441 - accuracy: 0.6165
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6437 - accuracy: 0.6153
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6439 - accuracy: 0.6152
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6435 - accuracy: 0.6132
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6436 - accuracy: 0.6154
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6437 - accuracy: 0.6151
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6434 - accuracy: 0.6151
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6431 - accuracy: 0.6137
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6433 - accuracy: 0.6142
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6432 - accuracy: 0.6141
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6430 - accuracy: 0.6177
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6432 - accuracy: 0.6153
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6431 - accuracy: 0.6153
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6425 - accuracy: 0.6144
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6427 - accuracy: 0.6146
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6427 - accuracy: 0.6171
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6428 - accuracy: 0.6160
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6425 - accuracy: 0.6158
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6424 - accuracy: 0.6183
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6424 - accuracy: 0.6152
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6427 - accuracy: 0.6153
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6425 - accuracy: 0.6166
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6424 - accuracy: 0.6146
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6423 - accuracy: 0.6161
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6427 - accuracy: 0.6159
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6422 - accuracy: 0.6186
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6421 - accuracy: 0.6167
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6422 - accuracy: 0.6164
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6423 - accuracy: 0.6172
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6422 - accuracy: 0.6163
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6420 - accuracy: 0.6164
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6418 - accuracy: 0.6175
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6420 - accuracy: 0.6166
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6419 - accuracy: 0.6174
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6420 - accuracy: 0.6181
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6419 - accuracy: 0.6171
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6416 - accuracy: 0.6184
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6416 - accuracy: 0.6194
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6417 - accuracy: 0.6185
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6417 - accuracy: 0.6180
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6417 - accuracy: 0.6189
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6417 - accuracy: 0.6187
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6416 - accuracy: 0.6191
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6416 - accuracy: 0.6173
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6202
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6415 - accuracy: 0.6180
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6414 - accuracy: 0.6183
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6415 - accuracy: 0.6181
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6414 - accuracy: 0.6188
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6195
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6414 - accuracy: 0.6164
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6414 - accuracy: 0.6188
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6414 - accuracy: 0.6187
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6414 - accuracy: 0.6173
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6414 - accuracy: 0.6182
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6198
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6208
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6413 - accuracy: 0.6197
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6411 - accuracy: 0.6211
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6189
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6413 - accuracy: 0.6204
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6188
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6205
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6181
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6411 - accuracy: 0.6190
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6187
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6411 - accuracy: 0.6181
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6413 - accuracy: 0.6194
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6210
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6410 - accuracy: 0.6192
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6410 - accuracy: 0.6186
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6410 - accuracy: 0.6189
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6190
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6411 - accuracy: 0.6171
Epoch 81/100

804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6196
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6194
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6408 - accuracy: 0.6196
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6410 - accuracy: 0.6183
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6179
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6411 - accuracy: 0.6198
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6185
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6194
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6412 - accuracy: 0.6170
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6410 - accuracy: 0.6191
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6408 - accuracy: 0.6201
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6409 - accuracy: 0.6178
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6407 - accuracy: 0.6208
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6408 - accuracy: 0.6180
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6408 - accuracy: 0.6213
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6408 - accuracy: 0.6188
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6408 - accuracy: 0.6184
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6407 - accuracy: 0.6209
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6408 - accuracy: 0.6191
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6410 - accuracy: 0.6186
268/268 - 1s - loss: 0.6414 - accuracy: 0.6225 - 609ms/epoch - 2ms/step
Loss: 0.64140385389328, Accuracy: 0.6225072741508484